<html>
  <head>
    <script src="vue-2.6.12.js"></script>
  </head>
  <body>
    <div id="js-app">
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <p>Checked names: <pre>{{ checkedNames }}</pre></p>
    </div>
  </body>

  <script>
  new Vue({
    el: '#js-app',
    data: {
      checkedNames: ['Jack']
    }
  });
</script>
</html>