<!DOCTYPE>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CSS Playing Cards</title>
    <link rel="stylesheet" type="text/css" href="./css/cards.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <script src="./js/vue-2.6.12.js"></script>
    <style>
    .card-body {padding: 0 0.5rem;}
    .playingCards ul.deck, .playingCards ul.hand { margin: 0 0 0.5rem 0;}
    </style>
</head>
<body>

<div class="playingCards fourColours rotateHand" id="transaction-app">
  <div class="row justify-content-md-center mt-1">
    <div class="col-lg-3 col-md-3 col-sm-3" v-for ="n in [3, 0, 1]">
      <div class="card text-center" v-if="players[n]">
        <div class="card-header d-flex">
          <span class="t-blue-green"> {{ players[n].name}} </span>
        </div>
        <div class="card-body" style="position: relative" v-if="isGameOver == false">
          <ul class="deck">
            <li v-for="n in (players[n].cards.clubs.length + players[n].cards.spades.length + players[n].cards.hearts.length + players[n].cards.diams.length)"> <div class="p-card back">*</div> </li>
          </ul>
          <div class="p-card back" v-if="players[n].card == null" style="position: absolute;right: 1rem;top: 1rem;">*</div>
          <div class="p-card" v-if="players[n].card != null" :class="players[n].card.getType() + ' rank-' + players[n].card.getNumber()" style="position: absolute;right: 1rem;top: 1rem;">
              <span class="rank">{{players[n].card.getNumber()}}</span>
              <span class="suit">{{types[players[n].card.getType()]}}</span>
          </div>
        </div>
        <div class="card-body" style="position: relative" v-if="isGameOver == true">
          <ul class="hand">
            <template v-for="(numbers, type) in players[n].cards">
              <li v-for="number in numbers">
                  <a class="p-card" :class="type + ' rank-' + symbols[number]">
                      <span class="rank">{{symbols[number]}}</span>
                      <span class="suit">{{types[type]}}</span>
                  </a>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center pt-3">
    <div class="col-lg-2 col-md-2 col-sm-2 pl-5 pr-5" v-for="(cardSymbol, type) in types">
      <div class="p-card" v-if="rows[type] && rows[type].high != null" :class="type + ' rank-' + symbols[rows[type].high]">
          <span class="rank">{{symbols[rows[type].high]}}</span>
          <span class="suit">{{cardSymbol}}</span>
      </div>
      <div class="p-card" :class="type + ' rank-' + symbols[rows[type].low]"
        v-if="rows[type] && rows[type].low != null && rows[type].low != 7">
          <span class="rank">{{symbols[rows[type].low]}}</span>
          <span class="suit">{{cardSymbol}}</span>
      </div>
      <div class="p-card back" v-if="rows[type] && rows[type].high == null">*</div>
    </div>
  </div>
  <div class="row justify-content-md-center pt-2">
    <div class="col-lg-6 col-md-6 col-sm-6">

      <div class="card text-center" v-if="players[playerId]">
        <div class="card-header d-flex">
          <span class="t-blue-green"> {{players[playerId].name}} </span>
        </div>
        <div class="card-body" style="position: relative">
          <ul class="hand">
            <template v-for="(numbers, type) in players[playerId].cards">
              <li v-for="number in numbers">
                  <a class="p-card" :class="type + ' rank-' + symbols[number]">
                      <span class="rank">{{symbols[number]}}</span>
                      <span class="suit">{{types[type]}}</span>
                  </a>
              </li>
            </template>
          </ul>
          <div class="p-card back" v-if="players[playerId].card == null" style="position: absolute;right: 1rem;top: 1rem;">*</div>
          <div class="p-card" v-if="players[playerId].card != null" :class="players[playerId].card.getType() + ' rank-' + players[playerId].card.getNumber()" style="position: absolute;right: 1rem;top: 1rem;">
              <span class="rank">{{players[playerId].card.getNumber()}}</span>
              <span class="suit">{{types[players[playerId].card.getType()]}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a @click="stop()" v-if="isStopped == false" class="btn btn-info t-bagde">stop</a>
      <a @click="resume()" v-if="isStopped == true" class="btn btn-info t-bagde">resume</a>
    </div>
  </div>

</div>

</body>

<script>
var Card = (function () {
   function Card(number_c, type_c) {
       this.digit = number_c;
       this.type = type_c;
   }
   Card.prototype.getNumber = function () {
       return this.digit;
   };
   Card.prototype.getType = function () {
       return this.type;
   };
   Card.prototype.toString = function () {
       return this.digit + this.type;
   };
   return Card;
}());


var app = new Vue({
  el: '#transaction-app',
  data: {
    types: { clubs: '♣', spades: '♠', hearts: '♥', diams: '♦' },
    digits: { 'A': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7,
      '8': 8, '9': 9, '10': 10, 'J': 11, 'Q': 12, 'K': 13 },
    priority: { 'K': 1, 'A': 2, 'Q': 3, '2': 4, 'J': 5, '3': 6, '10': 7,
      '4': 8, '9': 9, '5': 10, '8': 11, '6': 12, '7': 13 },
    priorityArr: [ 'K', 'A', 'Q', '2', 'J', '3', '10', '4', '9', '5', '8', '6', '7'],
    symbols: [],
    cards: [],
    playerSet: { cards: {clubs: [], spades: [], hearts: [], diams: [] }, name: null, card: null },
    players: [],
    rows: { clubs: { high: null, low: null}, spades: { high: null, low: null},
      hearts: { high: null, low: null}, diams: { high: null, low: null} },
    playerId: 2,
    isGameOver: false,
    isStarted: true,
    isStopped: false
  },
  created() {
      console.debug('Component has been created!');
  },
  methods: {
    distributeCards: function () {
      this.cards = this.cards.sort(function () { return Math.random() - 0.5; });

      this.cards.forEach( (card, c) => {
          this.players[c % 4].cards[card.getType()].push(this.digits[card.getNumber()]);
      });
      for ( p = 0 ; p < 4 ; p++ ) {
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
      var c = 0;
      var x = setInterval(() => {
        if (this.isStopped == false) {
          if (this.isGameOver == false) {
            var p = c % 4 ;
            var card = this.playCard(this.players[p], p, this.rows);
            console.debug(this.players[p].name, JSON.stringify(card));
            this.players[p].card = card;
            if (card != null) {
              if (this.finishedCard(this.players[p])) {
                console.debug("Played & Wonned by " + p);
                this.isGameOver = true;
              }
            }
            c++;
          } else {
            console.debug("this.isGameOver:", this.isGameOver);
            clearInterval(x);
          }
        }
      }, 1000);
      for ( p = 0 ; p < 4 ; p++ ) {
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
    },
    setupData: function() {
      this.symbols[1] = "A"; this.symbols[2] = "2"; this.symbols[3] = "3";
      this.symbols[4] = "4"; this.symbols[5] = "5"; this.symbols[6] = "6"; this.symbols[7] = "7";
      this.symbols[8] = "8"; this.symbols[9] = "9"; this.symbols[10] = "10"; this.symbols[11] = "J";
      this.symbols[12] = "Q"; this.symbols[13] = "K";

      for ( const [type, t] of Object.entries(this.types) ) {
        for ( const [digit, d] of Object.entries(this.digits) ) {
          this.cards.push(new Card(digit, type));
        };
      };

      this.playerSet.name = 'Ziya'
      var ziya = JSON.parse(JSON.stringify(this.playerSet));

      this.playerSet.name = 'Sparsh'
      var sparsh = JSON.parse(JSON.stringify(this.playerSet));

      this.playerSet.name = 'Nandini'
      var nandini = JSON.parse(JSON.stringify(this.playerSet));

      this.playerSet.name = 'Git'
      var git = JSON.parse(JSON.stringify(this.playerSet));
      this.players = [ ziya, sparsh, nandini, git];

    },
    finishedCard: function(playerCard ) {
      return playerCard.cards.clubs.length == 0 && playerCard.cards.spades.length == 0 &&
        playerCard.cards.hearts.length == 0 && playerCard.cards.diams.length == 0;
    },
    remove: function(playerCards, p, type, number) {
      playerCards.cards[type].splice(playerCards.cards[type].indexOf(number), 1);
      if (number > 6) {
        this.rows[type].high = number;
      }
      if (number < 8) {
        this.rows[type].low = number;
      }
      return new Card(this.symbols[number], type);
    },
    playCard: function(playerCards, p) {
      if (this.isStarted) {
        if (playerCards.cards.hearts.includes(7)) {
          this.isStarted = false;
          return this.remove(playerCards, p, 'hearts', 7);
        } else {
          return null;
        }
      }
      var diff = 0;
      var pickCard = null;
      console.debug('Core Login name: ', playerCards.name);
      for (i = 0; i < this.priorityArr.length; i ++) {
        var pSymbol = this.priorityArr [i];
        var pNumber = this.priority[pSymbol];
        for ( const [type, t] of Object.entries(this.types) ) {
          var cardNo = this.digits[pSymbol];
          if (playerCards.cards[type].includes(cardNo)) {
            if (cardNo < 8) {
              for ( chanceNo = 7 ; chanceNo > cardNo ; chanceNo-- ) {
                if (this.rows[type].low != null && playerCards.cards[type].includes( chanceNo ) &&
                  (this.rows[type].low - 1) == chanceNo
                ) {
                  console.debug('229', diff, chanceNo - cardNo);
                  if ( diff == 0 || (chanceNo - cardNo) > diff) {
                    diff = chanceNo - cardNo;
                    pickCard = new Card(this.symbols[this.rows[type].low - 1], type);
                    console.debug(diff, pickCard);
                  }
                }
                if (chanceNo == 7 &&  playerCards.cards[type].includes(7)) {
                  console.debug('237', diff, chanceNo - cardNo);
                  if ( diff == 0 || (chanceNo - cardNo) > diff) {
                    diff = chanceNo - cardNo;
                    pickCard = new Card(7, type);
                    console.debug(diff, pickCard);
                  }
                }
              }
            }
            if (cardNo > 6) {
              for ( chanceNo = 7 ; chanceNo < cardNo ; chanceNo++ ) {
                if (this.rows[type].high != null && playerCards.cards[type].includes( chanceNo ) &&
                  (this.rows[type].high + 1) == chanceNo
                ) {
                  console.debug('251', diff, cardNo - chanceNo);
                  if ( diff == 0 || (cardNo - chanceNo) > diff) {
                    diff = cardNo - chanceNo;
                    pickCard = new Card(this.symbols[this.rows[type].high + 1], type);
                    console.debug(diff, pickCard);
                  }
                }
                if (chanceNo == 7 &&  playerCards.cards[type].includes(7)) {
                  console.debug('259', diff, cardNo - chanceNo);
                  if ( diff == 0 || (cardNo - chanceNo) > diff) {
                    diff = cardNo - chanceNo;
                    pickCard = new Card(7, type);
                    console.debug(diff, pickCard);
                  }
                }
              }
            }
          }
        }
      };
      console.debug('271', diff, pickCard);
      if (diff > 0) {
        return this.remove(playerCards, p, pickCard.getType(), this.digits[pickCard.getNumber()] );
      }
      console.debug('throws big name: ', playerCards.name, this.priority, this.priorityArr);
      //throws none option
      for (i = 0; i < this.priorityArr.length; i ++) {
        var pSymbol = this.priorityArr [i];
        var pNumber = this.priority[pSymbol];
        var cardNo = this.digits[pSymbol];
        console.debug("cardNo: ", cardNo , ", pSymbol: ", pSymbol,  ", pNumber: ")
        for ( const [type, t] of Object.entries(this.types) ) {
          if (playerCards.cards[type].includes(cardNo)) {
            if (cardNo < 7 && this.rows[type].low != null && (this.rows[type].low - 1) == cardNo ) {
              return this.remove(playerCards, p, type, this.rows[type].low - 1 );
            }
            if (cardNo > 7 && this.rows[type].high != null && (this.rows[type].high + 1) == cardNo ) {
              return this.remove(playerCards, p, type, this.rows[type].high + 1 );
            }
          }
        }
      };
      console.debug('whichever name: ', playerCards.name);
      for ( const [type, t] of Object.entries(this.types) ) {
        if (this.rows[type].high == null && playerCards.cards[type].includes(7)) {
          return this.remove(playerCards, p, type, 7);
        } else if (this.rows[type].high != null && playerCards.cards[type].includes( this.rows[type].high + 1 )) {
          return this.remove(playerCards, p, type, this.rows[type].high + 1 );
        }
        if (this.rows[type].low != null && playerCards.cards[type].includes( this.rows[type].low - 1 )) {
          return this.remove(playerCards, p, type, this.rows[type].low - 1 );
        }
      }
      return null;
    },
    stop: function () {
      this.isStopped = true;
      for ( p = 0 ; p < 4 ; p++ ) {
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
      console.debug(JSON.stringify(this.rows))
    },
    resume: function () {
      this.isStopped = false;
    }
  },
  mounted() {
    console.debug('Component has been Mounted!');
    this.setupData();
    this.distributeCards();
  }
});
/*

<!--
 * Example HTML for CSS Playing Cards
 *
 * @author   Anika Henke <anika@selfthinker.org>
 * @license  CC BY-SA [http://creativecommons.org/licenses/by-sa/3.0]
 * @version  2011-06-14
 * @link     https://github.com/selfthinker/CSS-Playing-Cards/
-->
*/
</script>
</html>
