<!DOCTYPE>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CSS Playing Cards</title>
    <link rel="stylesheet" type="text/css" href="./css/cards.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <script src="./js/vue-2.6.12.js"></script>
    <style>
    .card-body {padding: 0 0.5rem;}
    .playingCards ul.deck, .playingCards ul.hand { margin: 0 0 0.5rem 0;}
    .playingCards.rotateHand ul.table-card li:nth-child(1) {
      -moz-transform: translate(1.9em, .9em) rotate(-18deg) !important;
      -webkit-transform: translate(1.9em, .9em) rotate(-18deg) !important;
      -o-transform: translate(1.9em, .9em) rotate(-18deg) !important;
      transform: translate(1.9em, .9em) rotate(-18deg) !important;
    }
    .playingCards.rotateHand ul.table-card li:nth-child(2) {
      -moz-transform: translate(1.9em, .9em) rotate(0) !important;
      -webkit-transform: translate(1.9em, .9em) rotate(0) !important;
      -o-transform: translate(1.9em, .9em) rotate(0) !important;
      transform: translate(1.9em, .9em) rotate(0) !important;
    }
    .playingCards.rotateHand ul.table-card li:nth-child(3) {
      -moz-transform: translate(1.9em, .9em) rotate(18deg) !important;
      -webkit-transform: translate(1.9em, .9em) rotate(18deg) !important;
      -o-transform: translate(1.9em, .9em) rotate(18deg) !important;
      transform: translate(1.9em, .9em) rotate(18deg) !important;
    }
    .card-active {
      background-color: #b2cde4;
      border: 1px solid #61aaf3;
    }
    .playingCards .p-card-label {
      position: absolute;right: 1rem;top: 1rem;
        padding: 0rem 0.5rem;
        border: 1px solid #666;
        border-radius: .3em;
        -moz-border-radius: .3em;
        -webkit-border-radius: .3em;
        -khtml-border-radius: .3em;
        background-color: #fff;
        -moz-box-shadow: .2em .2em .5em #333;
        -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
        box-shadow: 0.2em 0.2em 0.5em #333;
    }
    .playingCards .p-card-label.back {
      padding: .2rem 0.5rem;
        height: 1.5rem;
        width: 3rem;
        text-indent: -4000px;
        background-color: #ccc;
        background-repeat: repeat;
        background-image: -moz-repeating-linear-gradient(34% 6% 135deg,#335bcc, #333c66, #333c66 50%);
        background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#335bcc), color-stop(0.4, #333c66), to(#333c66));
    }
    .playingCards .p-card-label.diams { color: #f00 !important; }
    .playingCards .p-card-label.hearts { color: #f00 !important; }
    .playingCards .p-card-label.spades { color: #000 !important; }
    .playingCards .p-card-label.clubs { color: #000 !important; }
    </style>
</head>
<body>

<div class="playingCards rotateHand" id="transaction-app">
  <div class="row justify-content-md-center mt-1">
    <div class="col-lg-3 col-md-3 col-sm-6 col-4" v-for ="n in [3, 0, 1]">
      <div class="card text-center" v-if="players[n]" v-bind:class="[n == (index % 4) ? 'card-active' : '']">
        <div class="card-header d-flex" style="padding: .3rem 1rem 0.3rem 1rem; border-bottom: none;position:relative">
          <div style=""> {{players[n].name}}
            <div style="position:absolute; right:0.5rem; top: 0.2rem;">
              <span class="t-bagde text-white" v-if="players[n].cards != null"
                style="padding: 0rem .5rem;border-radius: .25rem;background-color: #02363e;">
                {{totalCard(players[n].cards)}}</a>
            </div>
          </div>
        </div>
        <div class="card-body" style="position: relative" v-if="isGameOver == false">
          <ul class="deck hand-deck">
            <li v-for="n in totalCard(players[n].cards)"> <div class="p-card back">*</div> </li>
          </ul>
          <div class="p-card-label back" v-if="players[n].card == null" ></div>
          <span class="p-card-label" :class="players[n].card.getType()" v-if="players[n].card != null" >
            <span class="rank">{{players[n].card.getNumber()}} {{types[players[n].card.getType()]}}</span>
          </span>
        </div>
        <div class="card-body" style="position: relative" v-if="isGameOver == true">
          <div style="width: 92%; position: absolute;align-content: center;color: rgb(11 28 113);font-size: 2rem;" v-if="players[n].title">
            {{players[n].title}}
          </div>
          <ul class="hand" style="z-index: 5;">
            <template v-for="(numbers, type) in players[n].cards">
              <li v-for="number in numbers">
                  <a class="p-card" :class="type + ' rank-' + symbols[number]">
                      <span class="rank">{{symbols[number]}}</span>
                      <span class="suit">{{types[type]}}</span>
                  </a>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center pt-3">
    <div class="col-lg-2 col-md-3 col-sm-6 col-6" v-for="(cardSymbol, type) in types">
      <ul class="hand table-card" style="height: 6em;">
        <li v-if="rows[type] && rows[type].high != null && rows[type].high != 7">
          <div class="p-card" :class="type + ' rank-' + symbols[rows[type].high]">
              <span class="rank">{{symbols[rows[type].high]}}</span>
              <span class="suit">{{cardSymbol}}</span>
          </div>
        </li>
        <li v-if="rows[type] && rows[type].high != null">
          <div class="p-card" :class="type + ' rank-7'">
              <span class="rank">7</span>
              <span class="suit">{{cardSymbol}}</span>
          </div>
        </li>
        <li v-if="rows[type] && rows[type].low != null && rows[type].low != 7">
          <div class="p-card" :class="type + ' rank-' + symbols[rows[type].low]" >
              <span class="rank">{{symbols[rows[type].low]}}</span>
              <span class="suit">{{cardSymbol}}</span>
          </div>
        </li>
        <li v-if="rows[type] && rows[type].high == null">
          <div class="p-card back">*</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center pt-4">
    <div class="col-lg-6 col-md-6 col-sm-6">

      <div class="card text-center" v-if="players[playerId]" v-bind:class="[playerId == (index % 4) ? 'card-active' : '']">
        <div class="card-header d-flex" style="padding: .3rem 1rem 0.3rem 1rem; border-bottom: none;position:relative">
          <div style=""> {{players[playerId].name}}
            <div style="position:absolute; right:0.5rem; top: 0.2rem;">
              <a @click="playerPass()" v-if="playerWaiting == true && validatePass(playerId) && !players[playerId].title" class="btn btn-info t-bagde"
                style="padding: 0rem .5rem;color: #fff !important; background-color: #02363e; border-color: #1c464c;">Pass</a>
            </div>
          </div>
        </div>
        <div class="card-body" style="position: relative">
          <ul class="hand" style="z-index: 5;">
            <template v-for="(numbers, type) in players[playerId].cards">
              <li v-for="number in numbers">
                  <a class="p-card" :class="type + ' rank-' + symbols[number]" @click="playerCard(type, number)" >
                      <span class="rank">{{symbols[number]}}</span>
                      <span class="suit">{{types[type]}}</span>
                  </a>
              </li>
            </template>
          </ul>
          <div style="position: inherit;align-content: center;color: rgb(11 28 113);font-size: 2rem;"
            v-if="players[playerId].title">
            {{players[playerId].title}}
          </div>
          <div class="p-card-label back" style="=z-index: 1;" v-if="players[playerId].card == null & isGameOver == false" ></div>
          <a class="p-card-label" :class="players[playerId].card.getType()" style=" z-index: 1;"
            v-if="players[playerId].card != null & isGameOver == false" >
            <span class="rank">{{players[playerId].card.getNumber()}} {{types[players[playerId].card.getType()]}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center pt-3 pb-3">
    <div class="col-lg-2 col-md-2 col-6">
      <a @click="stop()" v-if="isStopped == false" class="btn btn-warning t-bagde">Stop</a>
      <a @click="resume()" v-if="isStopped == true" class="btn btn-info t-bagde">Resume</a>
    </div>
    <div class="col-lg-2 col-md-2 col-6">
      <a @click="setupData()" class="btn btn-success t-bagde">Restart</a>
    </div>
  </div>

</div>

</body>

<script>
var Card = (function () {
   function Card(number_c, type_c) {
       this.digit = number_c;
       this.type = type_c;
   }
   Card.prototype.getNumber = function () {
       return this.digit;
   };
   Card.prototype.getType = function () {
       return this.type;
   };
   Card.prototype.toString = function () {
       return this.digit + this.type;
   };
   return Card;
}());


var app = new Vue({
  el: '#transaction-app',
  data: {
    types: { spades: '♠', hearts: '♥', clubs: '♣', diams: '♦' },
    digits: { 'A': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7,
      '8': 8, '9': 9, '10': 10, 'J': 11, 'Q': 12, 'K': 13 },
    priority: { 'K': 1, 'A': 2, 'Q': 3, '2': 4, 'J': 5, '3': 6, '10': 7,
      '4': 8, '9': 9, '5': 10, '8': 11, '6': 12, '7': 13 },
    priorityArr: [ 'K', 'A', 'Q', '2', 'J', '3', '10', '4', '9', '5', '8', '6', '7'],
    symbols: [],
    cards: [],
    playerSet: { cards: {spades: [], hearts: [], clubs: [], diams: [] }, name: null, card: null, title: null },
    players: [],
    rows: { spades: { high: null, low: null}, hearts: { high: null, low: null},
      clubs: { high: null, low: null}, diams: { high: null, low: null} },
    playerId: 2,
    isGameOver: false,
    isStarted: true,
    isStopped: false,
    playerWaiting: false,
    index: 0,
    interval: null
  },
  created() {
      console.debug('Component has been created!');
  },
  methods: {
    closeIfEndedGame: function(n) {
      if (this.totalCard(this.players[n].cards) == 0) {
        this.players[n].title = "Winner";
        console.debug("Played & Wonned by " + n);
        this.isGameOver = true;
        this.index = n;
        clearInterval(this.interval);
      }
    },
    playerCard: function (type, number) {
      console.log(type, number);
      var playerCards = this.players[this.playerId];
      if (this.playerWaiting == true) {
        if (this.validate(type, number)) {
          this.index++;
          this.playerWaiting = false;
          var card = this.remove(playerCards, this.playerId, type, number)
          this.players[this.playerId].card = card;
          this.closeIfEndedGame(this.playerId);
          if (this.isStarted == true) {
            this.isStarted = false;
          }
        }
      }
    },
    playerPass: function () {
      if (this.playerWaiting == true) {
        if (this.validatePass(this.playerId)) {
          this.players[this.playerId].card = null;
          this.index++;
          this.playerWaiting = false;
        }
      }
    },
    validate: function(type, number) {
      var playerCards = this.players[this.playerId];
      if (this.isStarted) {
        if (type == 'hearts' && number == 7) {
          return true;
        } else {
          return false;
        }
      }
      for ( const [type, t] of Object.entries(this.types) ) {
        if (this.rows[type].high == null && number == 7) {
          return true;
        } else if (this.rows[type].high != null && playerCards.cards[type].includes(number) &&
          (this.rows[type].high+ 1) == number) {
          return true;
        }
        if (this.rows[type].low != null && playerCards.cards[type].includes(number) &&
          ( this.rows[type].low - 1 ) == number) {
          return true;
        }
      }
      return false;
    },
    validatePass: function(n) {
      var playerCards = this.players[n];
      if (this.isStarted) {
        if (playerCards.cards.hearts.includes(7)) {
          return false;
        } else {
          return true;
        }
      }
      for ( const [type, t] of Object.entries(this.types) ) {
        if (this.rows[type].high == null && playerCards.cards[type].includes(7)) {
          return false;
        } else if (this.rows[type].high != null && playerCards.cards[type].includes( this.rows[type].high + 1 )) {
          return false;
        }
        if (this.rows[type].low != null && playerCards.cards[type].includes( this.rows[type].low - 1 )) {
          return false;
        }
      }
      return true;
    },
    distributeCards: function () {
      this.cards = this.cards.sort(function () { return Math.random() - 0.5; });

      this.cards.forEach( (card, c) => {
          this.players[c % 4].cards[card.getType()].push(this.digits[card.getNumber()]);
      });
      for ( p = 0 ; p < 4 ; p++ ) {
        var kingCount = 0;
        for ( const [type, t] of Object.entries(this.types) ) {
          if (this.players[p].cards[type].includes(13)) {
            kingCount ++ ;
          }
        }
        if (kingCount == 3) {
          console.log("Game Fok for " + this.players[p].name);
          //this.isGameOver = false;
          this.setupData();
          return;
        }
        if (this.players[p].cards.hearts.includes(7)) {
          this.index = p;
          if (p == this.playerId) {
            this.playerWaiting = true;
          }
        }
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
      this.interval = setInterval(() => {
        if (this.isStopped == false && this.playerWaiting == false) {
          if (this.isGameOver == false) {
            var p = this.index % 4 ;
            if (p == this.playerId) {
            } else {
              var card = this.playCard(this.players[p], p, this.rows);
              console.debug(this.players[p].name, JSON.stringify(card));
              this.players[p].card = card;
              if (card != null) {
                this.closeIfEndedGame(p);
              }
              if (this.isGameOver == false) {
                this.index++;
                if ([this.index % 4] == this.playerId) {
                  this.playerWaiting = true;
                }
              }
            }
          } else {
            console.debug("this.isGameOver:", this.isGameOver);
            clearInterval(this.interval);
          }
        }
      }, 2500);
      for ( p = 0 ; p < 4 ; p++ ) {
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
    },
    setupData: function() {
      this.cards = [];
      this.players = [];
      this.rows = { spades: { high: null, low: null}, hearts: { high: null, low: null},
        clubs: { high: null, low: null}, diams: { high: null, low: null} };
      this.playerId = 2;
      this.isGameOver = false;
      this.isStopped = false;
      this.playerWaiting = false;
      this.isStarted = true;
      this.index = 0;

      this.symbols[1] = "A"; this.symbols[2] = "2"; this.symbols[3] = "3";
      this.symbols[4] = "4"; this.symbols[5] = "5"; this.symbols[6] = "6"; this.symbols[7] = "7";
      this.symbols[8] = "8"; this.symbols[9] = "9"; this.symbols[10] = "10"; this.symbols[11] = "J";
      this.symbols[12] = "Q"; this.symbols[13] = "K";

      for ( const [type, t] of Object.entries(this.types) ) {
        for ( const [digit, d] of Object.entries(this.digits) ) {
          this.cards.push(new Card(digit, type));
        };
      };

      this.playerSet.name = 'Jack'
      var sam = JSON.parse(JSON.stringify(this.playerSet));

      this.playerSet.name = 'Mila'
      var yash = JSON.parse(JSON.stringify(this.playerSet));

      this.playerSet.name = 'Yash'
      var will = JSON.parse(JSON.stringify(this.playerSet));

      this.playerSet.name = 'Laura'
      var git = JSON.parse(JSON.stringify(this.playerSet));
      this.players = [ sam, yash, will, git];

      if (this.interval) {
        clearInterval(this.interval);
      }
      this.distributeCards();
    },
    totalCard: function(playerCard ) {
      return playerCard.clubs.length + playerCard.spades.length +
        playerCard.hearts.length + playerCard.diams.length;
    },
    remove: function(playerCards, p, type, number) {
      playerCards.cards[type].splice(playerCards.cards[type].indexOf(number), 1);
      if (number > 6) {
        this.rows[type].high = number;
      }
      if (number < 8) {
        this.rows[type].low = number;
      }
      return new Card(this.symbols[number], type);
    },
    playCard: function(playerCards, p) {
      if (this.isStarted) {
        if (playerCards.cards.hearts.includes(7)) {
          this.isStarted = false;
          return this.remove(playerCards, p, 'hearts', 7);
        } else {
          return null;
        }
      }
      var diff = 0;
      var pickCard = null;
      console.debug('Core Login name: ', playerCards.name);
      for (i = 0; i < this.priorityArr.length; i ++) {
        var pSymbol = this.priorityArr [i];
        var pNumber = this.priority[pSymbol];
        for ( const [type, t] of Object.entries(this.types) ) {
          var cardNo = this.digits[pSymbol];
          if (playerCards.cards[type].includes(cardNo)) {
            if (cardNo < 8) {
              for ( chanceNo = 7 ; chanceNo > cardNo ; chanceNo-- ) {
                if (this.rows[type].low != null && playerCards.cards[type].includes( chanceNo ) &&
                  (this.rows[type].low - 1) == chanceNo
                ) {
                  console.debug('229', diff, chanceNo - cardNo);
                  if ( diff == 0 || (chanceNo - cardNo) > diff) {
                    diff = chanceNo - cardNo;
                    pickCard = new Card(this.symbols[this.rows[type].low - 1], type);
                    console.debug(diff, pickCard);
                  }
                }
                if (chanceNo == 7 &&  playerCards.cards[type].includes(7)) {
                  console.debug('237', diff, chanceNo - cardNo);
                  if ( diff == 0 || (chanceNo - cardNo) > diff) {
                    diff = chanceNo - cardNo;
                    pickCard = new Card(7, type);
                    console.debug(diff, pickCard);
                  }
                }
              }
            }
            if (cardNo > 6) {
              for ( chanceNo = 7 ; chanceNo < cardNo ; chanceNo++ ) {
                if (this.rows[type].high != null && playerCards.cards[type].includes( chanceNo ) &&
                  (this.rows[type].high + 1) == chanceNo
                ) {
                  console.debug('251', diff, cardNo - chanceNo);
                  if ( diff == 0 || (cardNo - chanceNo) > diff) {
                    diff = cardNo - chanceNo;
                    pickCard = new Card(this.symbols[this.rows[type].high + 1], type);
                    console.debug(diff, pickCard);
                  }
                }
                if (chanceNo == 7 &&  playerCards.cards[type].includes(7)) {
                  console.debug('259', diff, cardNo - chanceNo);
                  if ( diff == 0 || (cardNo - chanceNo) > diff) {
                    diff = cardNo - chanceNo;
                    pickCard = new Card(7, type);
                    console.debug(diff, pickCard);
                  }
                }
              }
            }
          }
        }
      };
      console.debug('271', diff, pickCard);
      if (diff > 0) {
        return this.remove(playerCards, p, pickCard.getType(), this.digits[pickCard.getNumber()] );
      }
      console.debug('throws big name: ', playerCards.name, this.priority, this.priorityArr);
      //throws none option
      for (i = 0; i < this.priorityArr.length; i ++) {
        var pSymbol = this.priorityArr [i];
        var pNumber = this.priority[pSymbol];
        var cardNo = this.digits[pSymbol];
        console.debug("cardNo: ", cardNo , ", pSymbol: ", pSymbol,  ", pNumber: ")
        for ( const [type, t] of Object.entries(this.types) ) {
          if (playerCards.cards[type].includes(cardNo)) {
            if (cardNo < 7 && this.rows[type].low != null && (this.rows[type].low - 1) == cardNo ) {
              return this.remove(playerCards, p, type, this.rows[type].low - 1 );
            }
            if (cardNo > 7 && this.rows[type].high != null && (this.rows[type].high + 1) == cardNo ) {
              return this.remove(playerCards, p, type, this.rows[type].high + 1 );
            }
          }
        }
      };
      console.debug('whichever name: ', playerCards.name);
      for ( const [type, t] of Object.entries(this.types) ) {
        if (this.rows[type].high == null && playerCards.cards[type].includes(7)) {
          return this.remove(playerCards, p, type, 7);
        } else if (this.rows[type].high != null && playerCards.cards[type].includes( this.rows[type].high + 1 )) {
          return this.remove(playerCards, p, type, this.rows[type].high + 1 );
        }
        if (this.rows[type].low != null && playerCards.cards[type].includes( this.rows[type].low - 1 )) {
          return this.remove(playerCards, p, type, this.rows[type].low - 1 );
        }
      }
      return null;
    },
    stop: function () {
      this.isStopped = true;
      for ( p = 0 ; p < 4 ; p++ ) {
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
      console.debug(JSON.stringify(this.rows))
    },
    resume: function () {
      this.isStopped = false;
    }
  },
  mounted() {
    console.debug('Component has been Mounted!');
    this.setupData();
  }
});
/*
 * Example HTML for CSS Playing Cards
 *
 * @author   Anika Henke <anika@selfthinker.org>
 * @license  CC BY-SA [http://creativecommons.org/licenses/by-sa/3.0]
 * @version  2011-06-14
 * @link     https://github.com/selfthinker/CSS-Playing-Cards/
 */
</script>
</html>
