<!DOCTYPE>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CSS Playing Cards</title>
    <link rel="stylesheet" type="text/css" href="./css/cards.css" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <script src="./js/vue-2.6.12.js"></script>
    <style>
    .card-body {padding: 0 0.5rem;}
    .card-active {
      background-color: #b2cde4;
      border: 1px solid #61aaf3;
    }
    .all-page-sure {
      border: solid 1px #301d40;
      -moz-box-shadow: .2em .2em .5em #3f1461;
      -webkit-box-shadow: 0.2em 0.2em 0.5em #3f1461;
      box-shadow: 0.2em 0.2em 0.5em #3f1461;
      border-radius: .25rem;}
    .sure-text{
      text-shadow: 0px 0px 4px white;
      position: absolute;
      color: #301d40;
      right: 5px;
      font-size: 18;
      font-weight: 600;
      bottom: 0;
      font-style: italic;
      z-index: 10;
    }
    .game-btn {
      padding: 0rem .2rem;
      font-weight: 400;
      cursor: pointer;
      border-bottom: solid 2px #02363e;
      color: #02363e !important;
    }
    .game-btn:hover {
      font-weight: 600;
      border-bottom: solid 1px #301d40;
      color: #301d40 !important;
    }
    .title-text {
      width: 92%;
      position: absolute;
      align-content: center;
      color: rgb(11 28 113);
      bottom: 2px;
      font-size: 2rem;
    }
    </style>
</head>
<body>

<div class="playingCards rotateHand" id="transaction-app">
  <div class="row justify-content-md-center mt-1">
    <div class="form-group col-lg-1 col-md-1 col-sm-2 col-3 mb-0">
      <a @click="changeCountData(4, 1)" class="game-btn form-group ml-3 mr-3">Small</a>
    </div>
    <div class="form-group col-lg-1 col-md-1 col-sm-2 col-3 mb-0">
      <a @click="changeCountData(6, 2)" class="game-btn form-group ml-3 mr-3">Medium</a>
    </div>
    <div class="form-group col-lg-1 col-md-1 col-sm-2 col-3 mb-0">
      <a @click="changeCountData(7, 3)" class="game-btn form-group ml-3 mr-3">Large</a>
    </div>
  </div>
  <div class="row justify-content-md-center mt-1 pl-2 pr-2">
    <div class="col-sm-4 col-4" v-for="(m, n) in (totalPlayers - 1)"
      v-bind:class="[ totalPlayers > 4 ? 'col-lg-2 col-md-2' : 'col-lg-3 col-md-4']">
      <div class="card text-center" v-if="players[n]"
        v-bind:class="getBorderClassForPlayers(n)">
        <div class="card-header d-flex" style="padding: .3rem 1rem 0.3rem 1rem; border-bottom: none;position:relative">
          <div style=""> {{players[n].name}} <span class="badge badge-info" v-if="players[n].getPoints() > 0">{{players[n].getPoints()}}</span>
            <div style="position:absolute; right:0.5rem; top: 0rem;">
              <div class="p-card-label back" style="top: 2.5em; z-index: 2;"
                v-if="players[n].getLastCard() == null && isGameOver == false && (n != (index % totalPlayers))" ></div>
              <span class="p-card-label" :class="players[n].getLastCard().getType()" style="top: 2.5em; z-index: 2"
                v-if="( isGameOver == false && players[n].getLastCard() != null && n != (index % totalPlayers) ) || players[n].getIsWinner() " >
                <span class="rank">{{players[n].getLastCard().toString()}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="card-body" style="position: relative" v-if="isGameOver == false">
          <ul class="deck hand-deck">
            <li v-for="n in players[n].totalCards()"> <div class="p-card back">*</div> </li>
          </ul>
          <span class="sure-text" v-if="players[n].isSure( rows ) & isGameOver == false"> Sure </span>
        </div>
        <div class="card-body" style="position: relative" v-if="isGameOver == true">
          <div class="title-text" v-if="players[n].getIsWinner()"> Winner </div>
          <ul class="hand" style="z-index: 5;">
            <template v-for="(numbers, type) in players[n].getCardList()">
              <template v-for="number in numbers">
                  <span class="p-card-label" :class="type"
                    style="position: unset; right: unset; top: unset; margin: 3px; display: inline-block; width: 3.5rem;" >
                    <span class="rank">{{getNumberSymbol(number)}} {{getTypeSymbol(type)}}</span>
                  </span>
              </template>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center mt-2" v-if="rows.getRemainingSeventhCards().length > 0 & totalCats > 1">
    <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0" v-for="type in rows.getRemainingSeventhCards()"
      style=" width: 3.5rem !important; max-width: unset; flex: unset;">
      <span class="p-card-label" :class="type" style="position: unset; right: unset; top: unset;" >
        <span class="rank">7 {{getTypeSymbol(type)}}</span>
      </span>
    </div>
  </div>
  <div class="row justify-content-md-center pt-3">
    <div class="col-lg-2 col-md-3 col-sm-6 col-6" v-if ="rows.getRows()" v-for="row in rows.getRows()">
      <ul class="hand " style="height: 6em;"
        v-bind:class="[ row.getHigh().getNumber() == 13 && row.getLow().getNumber() == 1 ? 'closed-table-card' : 'table-card']">
        <li v-if="row.getHigh().getNumber() != 7">
          <div class="p-card" :class="row.getType() + ' rank-' + row.getHigh().getNumberSymbol()">
              <span class="rank">{{row.getHigh().getNumberSymbol()}}</span>
              <span class="suit">{{row.getHigh().getTypeSymbol()}}</span>
          </div>
        </li>
        <li>
          <div class="p-card" :class="row.getType() + ' rank-7'">
              <span class="rank">7</span>
              <span class="suit">{{row.getHigh().getTypeSymbol()}}</span>
          </div>
        </li>
        <li v-if="row.getLow().getNumber() != 7">
          <div class="p-card" :class="row.getType() + ' rank-' + row.getLow().getNumberSymbol()">
              <span class="rank">{{row.getLow().getNumberSymbol()}}</span>
              <span class="suit">{{row.getHigh().getTypeSymbol()}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-6" v-for="(m, n) in (3 - (rows.getRows().length < 3 ? rows.getRows().length : 3) )">
      <ul class="hand table-card" style="height: 6em;">
        <li>
          <div class="p-card back">*</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center pt-4">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card text-center" v-if="players[playerId]"
        v-bind:class="getBorderClassForPlayers(playerId)">
        <div class="card-header d-flex" style="padding: .3rem 1rem 0.3rem 1rem; border-bottom: none;position:relative">
          <div style=""> {{players[playerId].name}} <span class="badge badge-info" v-if="players[playerId].getPoints() > 0">{{players[playerId].getPoints()}}</span>
            <a @click="setupData()" class="game-btn ml-5">New Game</a>
            <a @click="isStopped = true" v-if="isStopped == false" class="game-btn">Pause</a>
            <a @click="isStopped = false" v-if="isStopped == true" class="game-btn">Resume</a>
            <div style="position:absolute; right:0.5rem; top: 0.2rem;">
              <a @click="playerPass()" class="game-btn"
                v-if="playerWaiting == true && players[playerId].validCards(isStarted, rows) == 0 && !players[playerId].getIsWinner()">Pass</a>

              <div class="p-card-label back" style="=z-index: 1;" v-if="playerWaiting == false && players[playerId].getLastCard() == null & isGameOver == false" ></div>
              <a class="p-card-label" :class="players[playerId].getLastCard().getType()" style=" z-index: 1;"
                v-if="playerWaiting == false && players[playerId].getLastCard() != null & isGameOver == false" >
                <span class="rank">{{players[playerId].getLastCard().toString()}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body" style="position: relative">
          <ul class="hand" style="z-index: 5;">
            <template v-for="(numbers, type) in players[playerId].getCardList()">
              <li v-for="number in numbers">
                  <a class="p-card" :class="type + ' rank-' + getNumberSymbol(number)" @click="playerCard(type, number)" >
                      <span class="rank">{{getNumberSymbol(number)}}</span>
                      <span class="suit">{{getTypeSymbol(type)}}</span>
                  </a>
              </li>
            </template>
          </ul>
          <div class="title-text" v-if="players[playerId].getIsWinner()"> Winner </div>
          <span class="sure-text" v-if="players[playerId].isSure( rows) & isGameOver == false"> Sure </span>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

<script>
var Utils = /** @class */ (function () {
    function Utils() {
    }
    Utils.types = { spades: '♠', hearts: '♥', clubs: '♣', diams: '♦' };
    Utils.numbers = ["X", "A", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];
    Utils.priorities = [13, 1, 12, 2, 11, 3, 10, 4, 9, 5, 8, 6, 7];
    Utils.throwAwayPriority = [13, 1, 12, 2, 11, 3, 10, 4 ];
    Utils.heavyCards = [13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1];
    Utils.getTypes = function () { return Utils.types; };
    Utils.getNumbers = function () { return Utils.numbers; };
    Utils.getPriority = function () { return Utils.priorities; };
    Utils.getThrowAwayPriority = function() { return Utils.throwAwayPriority; };
    Utils.getHeavyCards = function() { return Utils.heavyCards; };
    Utils.getCat = function (size) {
      var cards = [];
      for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
        for (loopPointer = 1; loopPointer < 14; loopPointer++) {
          for (secondLoopPointer = 0; secondLoopPointer < size; secondLoopPointer ++ ) {
            cards.push( { type: type, number: loopPointer} );
          }
        }
      }
      cards.sort(() => Math.random() - 0.5 );
      return cards;
    };
    return Utils;
}());
var Card = /** @class */ (function () {
    function Card(type, number) { this.type = type; this.number = number; }
    Card.prototype.getType = function () { return this.type; };
    Card.prototype.getNumber = function () { return this.number; };
    Card.prototype.setNumber = function (number) { this.number = number; };
    Card.prototype.getTypeSymbol = function () { return Utils.getTypes()[this.type]; };
    Card.prototype.getNumberSymbol = function () { return Utils.getNumbers()[this.number]; };
    Card.prototype.toString = function () { return this.getNumberSymbol() + ' ' + this.getTypeSymbol(); };
    return Card;
}());
var Line = /** @class */ (function () {
    function Line(type) { this.type = type; this.high = new Card(type, 7); this.low = new Card(type, 7); }
    Line.prototype.getType = function () { return this.type; };
    Line.prototype.setHigh = function (number) { this.high.setNumber(number); };
    Line.prototype.getHigh = function () { return this.high; };
    Line.prototype.setLow = function (number) { this.low.setNumber(number); };
    Line.prototype.getLow = function () { return this.low; };
    return Line;
}());
var Rows = /** @class */ (function () {
    function Rows() { this.rows = []; this.pendingSeven = []; }
    Rows.prototype.getRows = function () { return this.rows; };
    Rows.prototype.isAllowedCard = function (type, number) {
      if (number == 7) { return true; }
      for (loopPointer = 0; loopPointer < this.rows.length; loopPointer++ ) {
        var row = this.rows[loopPointer];
        if (row.getType() == type) {
          if ( number < 7 && number == (row.getLow().getNumber() - 1 ) ) {
            return true;
          }
          if ( number > 7 && number == (row.getHigh().getNumber() + 1 ) ) {
            return true;
          }
        }
      }
      return false;
    };
    Rows.prototype.addCard = function (type, number) {
      if (number == 7) {
        console.debug(252)
        this.removeSeventhCard(type);
        return this.rows.push(new Line(type));
      }
      for (loopPointer = 0; loopPointer < this.rows.length; loopPointer++ ) {
        var row = this.rows[loopPointer];
        if (row.getType() == type) {
          if ( number < 7 && number == (row.getLow().getNumber() - 1 ) ) {
            return row.setLow(number);
          }
          if ( number > 7 && number == (row.getHigh().getNumber() + 1 ) ) {
            return row.setHigh(number);
          }
        }
      }
    };
    Rows.prototype.addSeventhCard = function ( type) {
      this.pendingSeven.push( type);
    };
    Rows.prototype.getRemainingSeventhCards = function () {
      return this.pendingSeven;
    };
    Rows.prototype.removeSeventhCard = function (type) {
      console.debug(283, type)
      var index = this.pendingSeven.indexOf(type);
      if (index > -1) {
        this.pendingSeven.splice(index, 1);
      }
    };
    Rows.prototype.removeLineByType = function (card) {
      if ( card != null && ( card.getNumber() == 1 || card.getNumber() == 13 ) ) {
        for (lineRemovePointer = 0; lineRemovePointer < this.rows.length; lineRemovePointer++ ) {
          var row = this.rows[lineRemovePointer];
          if (row.getType() == card.getType()) {
            if ( row.getHigh().getNumber() == 13 && row.getLow().getNumber() == 1) {
              console.debug('process type: ', row.getType(), ', at: ', lineRemovePointer)
              this.rows.splice(lineRemovePointer, 1);
              return;
            }
          }
        }
      }
    };
    return Rows;
}());
var Player = /** @class */ (function () {
    function Player(name) {
        this.cardList = {};
        this.isWinner = false;
        this.lastCard = null;
        this.points = 0;
        this.name = name;
        this.clean();
    }
    Player.prototype.getName = function () { return this.name; };
    Player.prototype.setName = function (name) { return this.name = name; };
    Player.prototype.getCardList = function () { return this.cardList; };
    Player.prototype.setCardList = function (cardList) { return this.cardList = cardList; };
    Player.prototype.getIsWinner = function () { return this.isWinner; };
    Player.prototype.setIsWinner = function (isWinner) { return this.isWinner = isWinner; };
    Player.prototype.getLastCard = function () { return this.lastCard; };
    Player.prototype.setLastCard = function (lastCard) { return this.lastCard = lastCard; };
    Player.prototype.getPoints = function () { return this.points; };
    Player.prototype.addPoints = function () {
      var points = 0;
      console.log(this.getName());
      for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
        for ( pointsIndex = 0 ; pointsIndex < this.cardList[type].length ; pointsIndex++ ) {
          points = points + this.cardList[type][pointsIndex];
        }
      }
      this.points = this.points + points;
    };
    Player.prototype.clean = function () {
        this.cardList = { spades: [], hearts: [], clubs: [], diams: [] };
        this.isWinner = false;
        this.lastCard = null;
    };
    Player.prototype.addCard = function (type, number) {
      this.cardList[type].push(number);
    };
    Player.prototype.kingCount = function (type, number) {
      var kingCount = 0;
      for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
        this.cardList[type].sort( (a, b) => a-b );
        if (this.cardList[type].includes(13)) {
          kingCount ++ ;
        }
      }
      return kingCount;
    };
    Player.prototype.isCardPresent = function (type, number) {
      return this.cardList[type].includes(number);
    };
    Player.prototype.removeCard = function (type, number) {
      return this.cardList[type].splice(this.cardList[type].indexOf(number), 1);
    };
    Player.prototype.validCards = function (isStarted, rows) {
      if (isStarted) {
        return ( this.isCardPresent('hearts', 7) ) ? 1 : 0;
      }
      var availableCards = 0;
      for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
        for ( index = 0 ; index < this.cardList[type].length ; index++ ) {
          if (rows.isAllowedCard( type, this.cardList[type][index] )) {
            availableCards++;
          }
        }
      }
      return availableCards;
    };
    Player.prototype.totalCards = function () {
      return this.cardList.clubs.length + this.cardList.spades.length + this.cardList.hearts.length + this.cardList.diams.length;
    };
    Player.prototype.isSure = function (rows) {
      return this.validCards(false, rows) == this.totalCards();
    };
    return Player;
}());

var app = new Vue({
  el: '#transaction-app',
  data: {
    names: ["Jack", "Tony", "Loki", "Mila", "Cris", "Laura", "Ved"],
    players: [],
    rows: new Rows(),
    totalPlayers: 4,
    totalCats: 1,
    playerId: 0,
    isGameOver: false,
    isStarted: true,
    isStopped: false,
    playerWaiting: false,
    index: 0,
    interval: null
  },
  created() {
      console.debug('Component has been created!');
  },
  methods: {
    //Remove
    getTypeSymbol: function (type) { return Utils.getTypes()[type]; },
    getNumberSymbol: function (number) { return Utils.getNumbers()[number]; },

    //Best
    playerCard: function (type, number) {
      console.debug(type, number);
      if (this.playerWaiting == true) {
        if (this.validate(this.playerId, type, number)) {
          this.rows.removeLineByType(this.players[this.playerId].getLastCard());
          this.index++ ;
          this.playerWaiting = false;
          var card = this.remove(this.playerId, type, number)
          this.players[this.playerId].setLastCard(card);
          this.closeIfEndedGame(this.playerId);
          if (this.isStarted == true) {
            this.isStarted = false;
          }
        }
      }
    },
    playerPass: function () {
      if (this.playerWaiting == true) {
        if (this.players[this.playerId].validCards(this.isStarted, this.rows) == 0) {
          this.rows.removeLineByType(this.players[this.playerId].getLastCard());
          this.players[this.playerId].setLastCard(null);
          this.index++;
          this.playerWaiting = false;
        }
      }
    },
    closeIfEndedGame: function(n) {
      if (this.players[n].totalCards() == 0) {
        this.players[n].setIsWinner(true);
        console.debug("Played & Wonned by " + n);
        this.isGameOver = true;
        this.index = n;
        clearInterval(this.interval);
        for ( p = 0 ; p < this.totalPlayers ; p++ ) { this.players[p].addPoints(); }
      }
    },
    getBorderClassForPlayers: function(playerId) {
      var sure = ( this.players[playerId].isSure(this.rows) && this.isGameOver == false);
      var active = (playerId == (this.index % this.totalPlayers));
      if (sure && active) { return 'all-page-sure card-active' }
      else if (sure) { return 'all-page-sure' }
      else if (active) { return 'card-active' }
    },
    startGame: function () {
      this.interval = setInterval(() => {
        if (this.isStopped == false && this.playerWaiting == false) {
          if (this.isGameOver == false) {
            var p = this.index % this.totalPlayers ;
            if ( p == this.playerId ) {
            } else {
              this.rows.removeLineByType(this.players[p].getLastCard());
              var card = this.playCard(p);
              this.players[p].setLastCard(card)
              if ( card != null ) {
                this.closeIfEndedGame(p);
              }
              if (this.isGameOver == false) {
                this.index++;
                if ([this.index % this.totalPlayers] == this.playerId) {
                  this.playerWaiting = true;
                }
              }
            }
          } else {
            clearInterval(this.interval);
          }
        }
      }, 2500);
      for ( p = 0 ; p < this.totalPlayers ; p++ ) {
        console.debug("player[", this.players[p].name, "]:", JSON.stringify(this.players[p]));
      }
    },
    changeCountData: function(countPlayers, countCats) {
      this.totalCats = countCats;
      this.totalPlayers = countPlayers;
      this.setupData();
    },
    setupData: function() {
      this.rows = new Rows();
      this.playerId = this.totalPlayers - 1;
      this.isGameOver = false;
      this.isStopped = false;
      this.playerWaiting = false;
      this.isStarted = true;
      this.index = 0;

      var isFreshDesk = this.totalPlayers != this.players.length;
      if ( isFreshDesk ) { this.players = []; }

      this.names.sort( () => Math.random() - 0.5 );
      for ( c= 0; c < this.totalPlayers; c++ ) {
        if (isFreshDesk) { this.players.push( new Player(this.names[c % this.names.length]));
        } else { this.players[c].clean(); }
      }
      Utils.getCat(this.totalCats).forEach( (card, c) => {
        if (card.number == 7) { this.rows.addSeventhCard(card.type); }
        this.players[c % this.totalPlayers].addCard(card.type, card.number);
      });
      for ( p = 0 ; p < this.totalPlayers ; p++ ) {
        var kingCount = this.players[p].kingCount();
        if (this.totalCats == 1 && kingCount == 3) {
          console.warn("Game Fok for " + this.players[p].name);
          this.setupData();
          return;
        }
        if (this.index == 0 && this.players[p].isCardPresent('hearts', 7) ) {
          this.index = p ;
          if (this.index == this.playerId) { this.playerWaiting = true; }
        }
      }

      if (this.interval) { clearInterval(this.interval); }
      this.startGame();
    },
    playCard: function(p) {
      var playerCards = this.players[p];
      if (playerCards.validCards(this.isStarted, this.rows) == 0) { return null; }
      if (this.isStarted) {
        if (playerCards.isCardPresent('hearts', 7) ) {
          this.isStarted = false;
          return this.remove( p, 'hearts', 7);
        } else {
          return null;
        }
      }
      var diff = 0;
      var pickCard = null;
      console.debug('Core Logic name: ', playerCards.getName(), ", cards: ", JSON.stringify(playerCards.getCardList()));
      var priority = Utils.getPriority();
      var throwAwayPriority = Utils.getThrowAwayPriority();
      var heavyCards = Utils.getHeavyCards();

      for ( playerIndex = 0 ; playerIndex < this.totalPlayers ; playerIndex ++ ) {
        if ( playerIndex != p && this.players[playerIndex].isSure(this.rows) &&
          ( this.players[playerIndex].validCards(false, this.rows) < this.players[p].validCards(false, this.rows) ) ) {
          for (i = 0; i < heavyCards.length; i ++) {
            var heavyCardNo = heavyCards [i];
            for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
              if (this.rows.isAllowedCard(type, heavyCardNo) &&
                playerCards.isCardPresent(type, heavyCardNo) ) {
                return this.remove( p, type, heavyCardNo );
              }
            }
          }
        }
      }

      if ( this.totalCats > 1 ) { //only first 4 and last 4 cards
        for (i = 0; i < throwAwayPriority.length; i ++) {
          var throwAwayPriorityCardNo = throwAwayPriority [i];
          for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
            var index = this.rows.getRemainingSeventhCards().indexOf(type); // throws if no chance of hold
            if (index > -1) {
              if (this.rows.isAllowedCard(type, throwAwayPriorityCardNo) && playerCards.isCardPresent(type, throwAwayPriorityCardNo)) {
                return this.remove( p, type, throwAwayPriorityCardNo );
              }
            }
          }
        }
      }

      for (i = 0; i < priority.length; i ++) {
        var priorityCardNo = priority [i];
        for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
          if (playerCards.isCardPresent(type, priorityCardNo)) {
            if (priorityCardNo < 8) { //Logic for lower cards
              for ( chanceNo = 7 ; chanceNo > priorityCardNo ; chanceNo-- ) { //It will go from 7 till priority
                if (this.rows.isAllowedCard(type, chanceNo) && playerCards.isCardPresent(type, chanceNo) ) {
                  if ( diff == 0 || (chanceNo - priorityCardNo) > diff) {
                    diff = chanceNo - priorityCardNo;
                    pickCard = new Card(type, chanceNo);
                  }
                }
              }
            }
            if (priorityCardNo > 6) {
              for ( chanceNo = 7 ; chanceNo < priorityCardNo ; chanceNo++ ) {
                if (this.rows.isAllowedCard(type, chanceNo) && playerCards.isCardPresent(type, chanceNo) ) {
                  if ( diff == 0 || (priorityCardNo - chanceNo) > diff) {
                    diff = priorityCardNo - chanceNo;
                    pickCard = new Card(type, chanceNo);
                  }
                }
              }
            }
          }
        }
      };
      console.debug('271', diff, pickCard);
      if (diff > 0) {
        return this.remove( p, pickCard.getType(), pickCard.getNumber() );
      }
      console.debug('throws based on priority for : ', playerCards.getName());
      //throws none option
      for (i = 0; i < priority.length; i ++) {
        var priorityCardNo = priority [i];
        for ( const [type, t] of Object.entries(Utils.getTypes()) ) {
          if (playerCards.isCardPresent(type, priorityCardNo) && this.rows.isAllowedCard(type, priorityCardNo) ) {
            return this.remove( p, type, priorityCardNo );
          }
        }
      };
      return null;
    }
    // Well Written Functions
    ,
    remove: function( p, type, number) {
      var playerCards = this.players[p];
      playerCards.removeCard(type, number);
      this.rows.addCard(type, number);
      return new Card(type, number);
    },
    validate: function(p, type, number) {
      var playerCards = this.players[p];
      if (!playerCards.isCardPresent(type, number) ) { return false; }
      if (this.isStarted) { return (type == 'hearts' && number == 7); }
      return this.rows.isAllowedCard(type, number) ;
    }
  },
  mounted() {
    console.debug('Component has been Mounted!');
    this.setupData();
  }
});
</script>
</html>
