/*
 * Chit Chat v1.0.0
 * Developed By Bhagyesh Sunil Patel (https://github.com/uzrnem/chit-chat)
 */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px brown;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: brown;
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkred;
}
.header {
  color: darkred;
}
.background-ivory {
  background-color: ivory;
}
.overflow-hidden {
  overflow: hidden;
}
.full-height {
  height:500px;
}
.overflow-y {
  overflow-y: auto;
}

.list-user {
  list-style: none;
  font-size: large;
  padding: 5px;
  border-left: 1px solid brown;
  border-bottom: 1px solid brown;
  color: brown;
  display: list-item;
  margin: 3px;
  background-color: cornsilk;
}
.list-messages {
  overflow-y: auto;
  height: 460px;
  background-color: cornsilk;
}
.list-message {
  background-color: bisque;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  margin-left: 40px;
  display: flex;
  min-height: 30px;
}
.list-block {
  overflow: auto;
  margin: 5px;
}
.list-circle {
  height: 34px;
  width: 34px;
  background-color: tomato;
  font-size: x-large;
  border-radius: 17px;
  padding-left: 9px;
  padding-top: 0px;
  float: left;
}
.sender {
  float: left;
  font-style: oblique;
  margin-right: 5px;
  font-weight: bold;
}
.left {
  margin-right: 30px;
  border-top-left-radius: 0px;
  border-left: solid brown;
}
.right {
  margin: 0 5px 0 30px;
  border-top-right-radius: 0px;
  border-right: solid brown;
  float: right;
}
.ml-0 {
  margin-left: 0px
}
